body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 50px solid rgb(197, 250, 247);
  border-radius: 250px;
}

h1 {
  margin: 0.2em;
}

h1:hover{
    transform: scale(2.1);
    color: lightseagreen;
    text-shadow: 1px 1px #558abb;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900; 
   line-height: 1.5em;
 
}

h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.app-card {
  background-color: whitesmoke;
  border-radius: 150px;
  text-align: center;
  margin: 30px auto;
  padding: 3rem;
}

.heading-details {
  box-sizing: border-box;
  border-radius: 55px;
  padding: 0.1rem;
}

.main-weather-details-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  row-gap: 3px;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding-left: 35px;
}

.small-details-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3px;
  column-gap: 25px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  border: 1px black dashed;
  padding: 1rem;
  font-size: 15px;
}

.container {
  box-sizing: border-box;
  background-color: lightskyblue;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.forecast-grid {
  box-sizing: border-box;
  background-color: lightskyblue;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  height: fit-content;
  padding: 0.5rem;
}

#search-function {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: whitesmoke
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button {
  border-radius: 10px;
  width: 18%;
  height: 6.5vh;
  border: 0.1rem solid lightskyblue;
  background-color: lightseagreen;
  color: white;
}

#search-button:hover {
  display: inline-block;
  position: relative;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#form-input {
  border-radius: 10px;
  width: 50%;
  border: 0.3rem solid lightskyblue;
  padding: 5px;
  margin: 10px;
}

#temperature {
  font-size: 50px;
}

#celcius {
  vertical-align: super;
  font-size: 30px;
}

#decription {
  font-size: 35px;
}

#day-of-the-week,
#forecast-temperature {
  font-size: 15px;
}

#forecast-degree {
  font-size: 13px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .app-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: blueviolet;
  }

  #form-input #search-button {
    width: 100%;
  }

  .small-details-grid,
  .forecast-grid {
    display: inline-grid;
    justify-items: stretch;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
